<?xml version="1.0" encoding="utf-8"?>
<devices>
  <imeicode imei="356044061108633">
    <url>https://raw.githubusercontent.com/daundsugar/HPA_XML/master/transportlist.xml</url>
    <version>1</version>
    <rstart>1</rstart>
    <rend>2000</rend>
  </imeicode>
  <imeicode imei="356044060310537">
    <url>https://raw.githubusercontent.com/daundsugar/HPA_XML/master/transportlist.xml</url>
    <version>1</version>
    <rstart>1</rstart>
    <rend>2000</rend>
  </imeicode>
  <imeicode imei="356044060065867">
    <url>https://raw.githubusercontent.com/daundsugar/HPA_XML/master/transportlist.xml</url>
    <version>1</version>
    <rstart>1</rstart>
    <rend>2000</rend>
  </imeicode>
  <imeicode imei="356044061115901">
    <url>https://raw.githubusercontent.com/daundsugar/HPA_XML/master/transportlist.xml</url>
    <version>1</version>
    <rstart>1</rstart>
    <rend>2000</rend>
  </imeicode>
</devices>
